{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier", "import-helpers", "unused-imports"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
	],
	"rules": {
		"@typescript-eslint/no-unused-vars": "warn",
		"unused-imports/no-unused-imports": "warn",
		"unused-imports/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"varsIgnorePattern": "^_",
				"args": "after-used",
				"argsIgnorePattern": "^_",
			},
		],
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"no-unused-labels": "off",
		"no-mixed-spaces-and-tabs": "off",
		"sort-imports": [
			"error",
			{
				"ignoreCase": true,
				"ignoreDeclarationSort": true,
				"ignoreMemberSort": false,
				"memberSyntaxSortOrder": ["all", "single", "multiple", "none"],
				"allowSeparatedGroups": true,
			},
		],
		"import-helpers/order-imports": [
			"warn",
			{
				"newlinesBetween": "always",
				"groups": ["module", ["/^#/"], ["parent", "sibling", "index"]],
				"alphabetize": { "order": "asc", "ignoreCase": true },
			},
		],
	},
	"ignorePatterns": ["node_modules/**"],
}
