.content {
  height: 100%;
  overflow: auto;
}

.gutterTop {
  margin-top: 1rem;
}

.gutterBottom {
  margin-bottom: 1rem;
}

.measureContainer {
  padding-right: 1rem;
  min-width: 4rem;
}

.ingredientElementContainer {
  display: flex;
}

.infoContainer {
  flex: 1;
}

.cocktailWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid gray;
}

.thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0.25rem 0.5rem 0rem 1rem;
}
